[Desktop Entry]
Type=Application
Version=1.0
Name=pCloud
Comment=Secure cloud storage and file synchronization service
Exec=env DESKTOPINTEGRATION=false /usr/bin/pcloud --no-sandbox %U
Icon=pcloud
StartupNotify=false
Terminal=false
