window.Bar {
    background: transparent;
    color: #ffffff;
    font-weight: bold;
}

.bar-container {
    padding: 4px 8px;
}


window.Bar button {
    border-radius: 8px;
    margin: 2px;
}

.battery-widget {
    background-color: #585b70;  /* Catppuccin Mocha Overlay0 */
    border-radius: 8px;
    padding: 4px 8px;
    margin: 2px;
}

.time-widget {
    background-color: #585b70;  /* Catppuccin Mocha Surface2 */
    padding: 4px 8px;
}
