window.Bar {
    background: transparent;
    color: #ffffff;
    font-weight: bold;
}

.bar-container {
    padding: 4px 6px;
}


window.Bar button {
    border-radius: 8px;
    margin: 2px;
}

.battery-widget {
    background-color: #9d7cd8;  /* Darker Mauve */
    border-radius: 8px;
    padding: 4px 8px;
    margin: 2px;
}

.time-widget {
    background-color: #7287fd;  /* Darker Lavender */
    padding: 4px 8px;
}

.workspace-widget {
    background-color: #8839ef;  /* Catppuccin Mocha Mauve */
    border-radius: 8px;
    padding: 4px 8px;
    margin: 2px;
}

.idle-widget {
    background-color: #89b4fa;  /* Catppuccin Mocha Blue */
    border-radius: 8px;
    padding: 4px 8px;
    margin: 2px;
}

.idle-widget-inactive {
    background-color: #f38ba8;  /* Catppuccin Mocha Red */
}

.volume-widget {
    background-color: #1e9e8e;  /* Darker Teal */
    border-radius: 8px;
    padding: 4px 8px;
    margin: 2px;
    min-width: 130px;
}

.volume-widget button {
    padding: 0 4px;
    margin-right: 4px;
}

.volume-widget scale trough {
    min-width: 120px;
    min-height: 6px;
}


